body{
    background-color: black;
}
.container{
    width: 300px;
    padding: 5px;
    text-align: center;
    background-color: white;
    margin-left: 450px;
    margin-top: 5px;
}
input{
    width: 180px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
button{
    width: 85px;
    height: 30px;
    border-radius: 5px;
    background-color: orange;
    color:#714e0c;
    border: 1px solid black;
}
#todo-list{
    text-align: left;
}