*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: black;
}
.nav{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.nav a{
    font-size: 20px;
    text-decoration: none;
    color: #AEB6BF;
}
.nav-1{
    height: 120px;
    background-color:#2C3E50;
}
.box-1{
    width: 236px;
    position: absolute;
    top: 40px;
    right: 200px;
    background-color: pink;
    font-size: 20px;
    border-radius: 10px;
    text-align: right;
}
.box-1 input{
    padding: 10px 10px 0px 0px;
    background-color: white;
    border: none;
    text-align: center;
    font-size: 15px;
}
.btn {
    margin-top: 20px;
    border: none;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
}
.button{
    position: absolute;
    top: 85px;
    right: 340px;
}
.btn:hover {
    background-color:#FF4F00;
}
.btn{
    background-color: white;
    font-size: 20px;
}
.container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #FF4F00;
    position: relative;
    z-index: 1;
}
.col-30{
    background-color: red;
    color: white;
    width: 300px;
    height: 210px;
    margin: 20px 20px 20px 20px;
    border-radius: 20px;
}
.col-30 h1{
    padding-top: 20px;
    color: #04fa04;
    font-size: bold;
}
.col-30 p{
    padding:0px 10px 0px 10px;
    color: white;
    font-size: 13px;
    text-align: left;
}
.col-70{
    margin: 20px 20px 20px 20px;
    background-color: #FF4F00;
    color: white;
}
.col-70 h1{
    font-size: 50px;
    text-align: left;
}
.col-70 p{
    font-size: 20px;
    text-align: left;
}
.col-70 h2{
    font-size: 20px;
    text-align: right;
}
.container-2{
    display: flex;
}
.col-60{
    background-color: #f1f1f1;
    width: 60%;
    padding: 0px 30px 10px 30px;
}
.col-60 h1{
    color: black;
}
.col-60 hr{
    border: 2px solid #b8b8b8;
}
.col-60 p{
    margin-top: 20px;
    font-size: 15px;
}
.col-40{
    width: 40%;
    background-color: white;
}
.col-40 h1{
    padding-left: 40px;
    font-style: italic;
}
.row{
    background-color: #FF4F00;
    width: 500px;
    height: 400px;
}
.row-1{
    padding-top: 20px;
    font-size: 14px;
}