*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #2C3E50;
    min-height: 190px;
}
.nav-1{
    background-color: black;
    display: flex;
    justify-content: space-around;
}
.vertical-slim-div{
    width: 2px;
    height: 20px;
    background-color: #AEB6BF;
}
.nav-1 a{
    font-size: 20px;
    text-decoration: none;
    color: #AEB6BF;
}
.nav-2{
    min-height: 120px;
    background-color:#2C3E50;
}
#logo{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30px;
    left: 20px;
}
#title{
    position: absolute;
    top: 50px;
    left: 150px;
    font-size: 50px;
}
#company-1{
    color: white;
}
#name-1{
    color: #04fa04;
}
#company-2{
    position: absolute;
    top: 60px;
    left: 0px;
    transform: rotateX(150deg);
    font-size: 50px;
    opacity: 0.2;
    background: linear-gradient(to bottom, transparent 30%, white 70%); /* Use a gradient mask to hide 30% of the reflection */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#name-2{
    position: absolute;
    top: 60px;
    left: 207px;
    transform: rotateX(150deg);
    font-size: 50px;
    opacity: 0.2;
    background: linear-gradient(to bottom, transparent 30%, #60fd60 70%); /* Use a gradient mask to hide 30% of the reflection */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.box-1{
    width: 236px;
    position: absolute;
    top: 40px;
    right: 200px;
    background-color: pink;
    font-size: 20px;
    border-radius: 10px;
    text-align: right;
}
.box-1 input{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 10px 0px 0px;
    background-color: white;
    border: none;
    text-align: center;
    font-size: 15px;
}
.btn {
    margin-top: 20px;
    border: none;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
}
.button{
    position: absolute;
    top: 134px;
    right: 230px;
}
.btn:hover {
    background-color:#FF4F00;
}
.button:hover + .menu-content{
    display: flex;
}
.btn{
    background-color: white;
    font-size: 20px;
}
.menu-content{
    display: none;
    justify-content: space-around;
    margin-top: 167px;
    text-align: center;
    background: linear-gradient(0.25turn, #fa8e5c, #FF4F00);
    position: relative;
    z-index: 1;
}
.col-30{
    background: linear-gradient(red, #2c0505);
    color: white;
    width: 300px;
    height: 210px;
    margin: 20px 20px 20px 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px;
    color: #2c0505;
}
.col-30 h1{
    padding-top: 20px;
    color: #04fa04;
    font-size: bold;
}
.col-30 p{
    padding:0px 10px 0px 10px;
    color: white;
    font-size: 13px;
    text-align: left;
}
.col-70{
    margin: 20px 20px 20px 20px;
    color: white;
}
.col-70 h1{
    font-size: 50px;
    text-align: left;
}
.col-70 p{
    font-size: 20px;
    text-align: left;
}
.col-70 h2{
    font-size: 20px;
    text-align: right;
}
.container{
    display: flex;
}
.col-60{
    background-color: #f1f1f1;
    width: 60%;
    padding: 0px 30px 10px 30px;
}
.col-60 h1{
    color: black;
}
.col-60 hr{
    border: 2px solid #b8b8b8;
}
.col-60 p{
    margin-top: 20px;
    font-size: 22px;
}
.col-40{
    width: 40%;
    background-color: white;
}
.col-40 h1{
    padding-left: 40px;
    font-style: italic;
}
.row{
    background-color: #FF4F00;
    width: 500px;
    height: 670px;
}
.row-1{
    padding-top: 20px;
    font-size: 14px;
}
#img-1{
    margin: 0px 40px;
    padding: 20px 20px;
    width: 400px;
    height: 390px;
}
.row-1 h2{
    padding-left: 40px;
    font-size: 30px;
}
#img-2{
    padding: 20px 40px;
    width: 500px;
    height: 190px;
}
.footer{
    background-color: black;
}
.footer-links a{
    padding-top: 20px;
    font-size: 30px;
    text-decoration: none;
    color: #AEB6BF;
}
.footer-links div{
    padding-top: 20px;
    font-size: 30px;
    text-decoration: none;
    color: #AEB6BF;
}
.footer-links{
    display: flex;
    justify-content: space-around;
}
.width-15{
    width: 15%;
}
.footer-text h1{
    font-size: 15px;
    color: white;
    text-align: center;
}
.footer-text p{
    padding: 10px 0px 10px 0px;
    font-size: 13px;
    color: white;
    text-align: center;
}