*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #2C3E50;
    min-height: 190px;
}
.nav-1{
    background-color: black;
    display: flex;
    justify-content: space-around;
}
.vertical-slim-div{
    width: 2px;
    height: 20px;
    background-color: #AEB6BF;
}
.nav-1 a{
    font-size: 20px;
    text-decoration: none;
    color: #AEB6BF;
}
.nav-2{
    min-height: 120px;
    background-color:#2C3E50;
}
#logo{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30px;
    left: 20px;
}
#title{
    position: absolute;
    top: 50px;
    left: 150px;
    font-size: 50px;
}
#company-1{
    color: white;
}
#name-1{
    color: #04fa04;
}
#company-2{
    position: absolute;
    top: 60px;
    left: 0px;
    transform: rotateX(150deg);
    font-size: 50px;
    opacity: 0.2;
    background: linear-gradient(to bottom, transparent 30%, white 70%); /* Use a gradient mask to hide 30% of the reflection */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#name-2{
    position: absolute;
    top: 60px;
    left: 207px;
    transform: rotateX(150deg);
    font-size: 50px;
    opacity: 0.2;
    background: linear-gradient(to bottom, transparent 30%, #60fd60 70%); /* Use a gradient mask to hide 30% of the reflection */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.box-1{
    width: 236px;
    position: absolute;
    top: 40px;
    right: 200px;
    background-color: pink;
    font-size: 20px;
    border-radius: 10px;
    text-align: right;
}
.box-1 input{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 10px 0px 0px;
    background-color: white;
    border: none;
    text-align: center;
    font-size: 15px;
}
.btn {
    margin-top: 20px;
    border: none;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
}
.button{
    position: absolute;
    top: 134px;
    right: 230px;
}
.btn:hover {
    background-color:#FF4F00;
}
.button:hover + .menu-content{
    display: flex;
}
.btn{
    background-color: white;
    font-size: 20px;
}
.menu-content{
    display: none;
    justify-content: space-around;
    margin-top: 167px;
    text-align: center;
    background: linear-gradient(0.25turn, #fa8e5c, #FF4F00);
    position: relative;
    z-index: 1;
}
.col-30{
    background: linear-gradient(red, #2c0505);
    color: white;
    width: 300px;
    height: 210px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px;
    color: #2c0505;
}
.col-30 h1{
    padding-top: 20px;
    color: #04fa04;
    font-size: bold;
}
.col-30 p{
    padding:0px 10px 0px 10px;
    color: white;
    font-size: 13px;
    text-align: left;
}
.col-70{
    margin: 20px;
    color: white;
}
.col-70 h1{
    font-size: 50px;
    text-align: left;
}
.col-70 p{
    font-size: 20px;
    text-align: left;
}
.col-70 h2{
    font-size: 20px;
    text-align: right;
}
.container{
    display: flex;
}
.col-60{
    background-color: #f1f1f1;
    width: 60%;
    padding: 0px 30px 10px 30px;
}
.col-60 h1{
    color: black;
}
.col-60 hr{
    border: 2px solid #b8b8b8;
}
.col-60 p{
    margin-top: 20px;
    font-size: 22px;
}
.col-40{
    width: 40%;
    background-color: white;
}
.col-40 h1{
    padding-left: 40px;
    font-style: italic;
}
.row{
    background-color: #FF4F00;
    width: 500px;
    height: 670px;
}
.row-1{
    padding-top: 20px;
    font-size: 14px;
}
#img-1{
    margin: 0px 40px;
    padding: 20px 20px;
    width: 400px;
    height: 390px;
}
.row-1 h2{
    padding-left: 40px;
    font-size: 30px;
}
#img-2{
    padding: 20px 40px;
    width: 500px;
    height: 190px;
}
.footer{
    background-color: black;
}
.footer-links a{
    padding-top: 20px;
    font-size: 30px;
    text-decoration: none;
    color: #AEB6BF;
}
.footer-links div{
    padding-top: 20px;
    font-size: 30px;
    text-decoration: none;
    color: #AEB6BF;
}
.footer-links{
    display: flex;
    justify-content: space-around;
}
.width-15{
    width: 15%;
}
.footer-text h1{
    font-size: 15px;
    color: white;
    text-align: center;
}
.footer-text p{
    padding: 10px 0px 10px 0px;
    font-size: 13px;
    color: white;
    text-align: center;
}
/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .nav-1 a{
        font-size: 15px;
    }
    #logo{
        width: 50px;
        height: 50px;
        position: absolute;
        top: 30px;
        left: 20px;
    }
    #title{
        position: absolute;
        top: 50px;
        left: 100px;
        font-size: 20px;
    }
    #company-2{
        position: absolute;
        top: 26px;
        left: 0px;
        font-size: 20px;
    }
    #name-2{
        position: absolute;
        top: 22px;
        left: 80px;
        font-size: 20px;
    }
    .box-1{
        top: 40px;
        right: 20px;
        font-size: 15px;
    }
    .button{
        position: absolute;
        top: 134px;
        right: 34px;
    }
    .menu-content{
        margin-top: 167px;
    }
    .col-30{
        width: 500px;
        height: 220px;
        margin: 20px;
    }
    .col-30 h1{
        padding-top: 20px;
    }
    .col-30 p{
        padding:0px 10px 0px 10px;
        font-size: 13px;
    }
    .col-70{
        margin: 20px
    }
    .col-70 h1{
        font-size: 20px;
    }
    .col-70 p{
        font-size: 15px;
    }
    .col-70 h2{
        font-size: 15px;
    }
    .col-60{
        padding: 10px 30px 10px 30px; 
    }
    .col-60 h1{
        font-size: 20px;
    }
    .col-60 p{
        margin-top: 20px;
        font-size: 15px;
    }
    .col-40 h1{
        padding: 10px 0px 0px 40px;
        font-size: 20px;
    }
    .row{
        width: auto;
        height: 700px;
    }
    .row-1 h1{
        padding-top: 20px;
        font-size: 18px;
    }
    #img-1{
        margin: 0px 40px;
        padding: 20px 20px;
        width: 200px;
        height: 195px;
    }
    .row-1 h2{
        padding-left: 40px;
        font-size: 20px;
    }
    #img-2{
        padding: 20px 40px;
        width: 250px;
        height: 145px;
    }
    .footer-links a{
        padding-top: 20px;
        font-size: 15px;
    }
    .footer-links div{
        padding-top: 20px;
        font-size: 15px;
    }
    .footer-text h1{
        padding-top: 10px;
        font-size: 15px;
    }
    .footer-text p{
        padding: 10px 0px 10px 0px;
        font-size: 13px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .nav-1 a{
        font-size: 20px;
    }
    #logo{
        width: 70px;
        height: 70px;
        position: absolute;
        top: 30px;
        left: 20px;
    }
    #title{
        position: absolute;
        top: 50px;
        left: 100px;
        font-size: 25px;
    }
    #company-2{
        position: absolute;
        top: 26px;
        left: 0px;
        font-size: 25px;
    }
    #name-2{
        position: absolute;
        top: 22px;
        left: 102px;
        font-size: 25px;
    }
    .box-1{
        top: 50px;
        right: 20px;
        font-size: 15px;
    }
    .button{
        position: absolute;
        top: 134px;
        right: 34px;
    }
    .menu-content{
        margin-top: 167px;
    }
    .col-30{
        width: 500px;
        height: 200px;
        margin: 20px;
    }
    .col-30 h1{
        padding-top: 20px;
    }
    .col-30 p{
        padding:0px 10px 0px 10px;
        font-size: 13px;
    }
    .col-70{
        margin: 20px
    }
    .col-70 h1{
        font-size: 23px;
    }
    .col-70 p{
        font-size: 17px;
    }
    .col-70 h2{
        font-size: 16px;
    }
    .col-60{
        padding: 10px 30px 10px 30px; 
    }
    .col-60 h1{
        font-size: 24px;
    }
    .col-60 p{
        margin-top: 20px;
        font-size: 17px;
    }
    .col-40 h1{
        padding: 10px 0px 0px 40px;
        font-size: 17px;
    }
    .row{
        width: auto;
        height: 702px;
    }
    .row-1 h1{
        padding-top: 20px;
        font-size: 16px;
    }
    #img-1{
        margin: 0px 40px;
        padding: 20px 20px;
        width: 260px;
        height: 465px;
    }
    .row-1 h2{
        padding-left: 40px;
        font-size: 20px;
    }
    #img-2{
        padding: 20px 40px;
        width: 315px;
        height: 160px;
    }
    .footer-links a{
        padding-top: 20px;
        font-size: 17px;
    }
    .footer-links div{
        padding-top: 20px;
        font-size: 15px;
    }
    .footer-text h1{
        padding-top: 10px;
        font-size: 15px;
    }
    .footer-text p{
        padding: 10px 0px 10px 0px;
        font-size: 13px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .nav-1 a{
        font-size: 22px;
    }
    #logo{
        width: 90px;
        height: 90px;
        position: absolute;
        top: 40px;
        left: 25px;
    }
    #title{
        position: absolute;
        top: 64px;
        left: 135px;
        font-size: 30px;
    }
    #company-2{
        position: absolute;
        top: 37px;
        left: 0px;
        font-size: 30px;
    }
    #name-2{
        position: absolute;
        top: 32px;
        left: 123px;
        font-size: 30px;
    }
    .box-1{
        top: 50px;
        right: 20px;
        font-size: 15px;
    }
    .button{
        position: absolute;
        top: 134px;
        right: 34px;
    }
    .menu-content{
        margin-top: 167px;
    }
    .col-30{
        width: 500px;
        height: 200px;
        margin: 20px;
    }
    .col-30 h1{
        padding-top: 20px;
    }
    .col-30 p{
        padding: 10px 10px 0px 10px;
        font-size: 13px;
    }
    .col-70{
        margin: 20px
    }
    .col-70 h1{
        font-size: 23px;
    }
    .col-70 p{
        padding: 10px 10px 0px 0px;
        font-size: 17px;
    }
    .col-70 h2{
        font-size: 16px;
    }
    .col-60{
        padding: 10px 30px 10px 30px; 
    }
    .col-60 h1{
        font-size: 24px;
    }
    .col-60 p{
        margin-top: 20px;
        font-size: 18px;
    }
    .col-40 h1{
        padding: 10px 0px 0px 40px;
        font-size: 24px;
    }
    .row{
        width: auto;
        height: 702px;
    }
    .row-1 h1{
        padding-top: 20px;
        font-size: 20px;
    }
    #img-1{
        margin: 0px 40px;
        padding: 20px 20px;
        width: 338px;
        height: 430px;
    }
    .row-1 h2{
        padding-left: 40px;
        font-size: 25px;
    }
    #img-2{
        padding: 20px 40px;
        width: 400px;
        height: 175px;
    }
    .footer-links a{
        padding-top: 20px;
        font-size: 17px;
    }
    .footer-links div{
        padding-top: 20px;
        font-size: 15px;
    }
    .footer-text h1{
        padding-top: 10px;
        font-size: 15px;
    }
    .footer-text p{
        padding: 10px 0px 10px 0px;
        font-size: 13px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .nav-1 a{
        font-size: 20px;
    }
    #logo{
        width: 100px;
        height: 100px;
        position: absolute;
        top: 30px;
        left: 20px;
    }
    #title{
        position: absolute;
        top: 50px;
        left: 150px;
        font-size: 50px;
    }
    #company-2{
        position: absolute;
        top: 60px;
        left: 0px;
        font-size: 50px;
    }
    #name{
        position: absolute;
        top: 60px;
        left: 207px;
        font-size: 50px;
    }
    #name-2{
        position: absolute;
        top: 60px;
        left: 207px;
        font-size: 50px;
    }
    .box-1{
        width: 236px;
        position: absolute;
        top: 40px;
        right: 200px;
        font-size: 20px;
    }
    .box-1 input{
        padding: 10px 10px 0px 0px;
        font-size: 15px;
    }
    .btn{
        margin-top: 20px;
        padding: 10px 10px;
        font-size: 15px;
    }
    .button{
        position: absolute;
        top: 140px;
        right: 230px;
    }
    .menu-content{
        margin-top: 167px;
    }
    .col-30{
        width: 300px;
        height: 210px;
        margin: 20px;
    }
    .col-30 h1{
        padding-top: 20px;
    }
    .col-30 p{
        padding:0px 10px 0px 10px;
        font-size: 13px;
    }
    .col-70{
        margin: 20px
    }
    .col-70 h1{
        font-size: 50px;
    }
    .col-70 p{
        font-size: 20px;
    }
    .col-70 h2{
        font-size: 20px;
    }
    .col-60{
        padding: 0px 30px 10px 30px; 
    }
    .col-60 p{
        margin-top: 20px;
        font-size: 22px;
    }
    .col-40 h1{
        padding-left: 40px;
    }
    .row{
        background-color: #FF4F00;
        width: auto;
        height: 682px;
    }
    .row-1 h1{
        padding-top: 20px;
        font-size: 25px;
    }
    #img-1{
        margin: 0px 40px;
        padding: 20px 20px;
        width: 400px;
        height: 330px;
    }
    .row-1 h2{
        padding-left: 40px;
        font-size: 30px;
    }
    #img-2{
        padding: 20px 40px;
        width: 500px;
        height: 190px;
    }
    .footer-links a{
        padding-top: 20px;
        font-size: 30px;
    }
    .footer-links div{
        padding-top: 20px;
        font-size: 30px;
    }
    .footer-text h1{
        font-size: 15px;
    }
    .footer-text p{
        padding: 10px 0px 10px 0px;
        font-size: 13px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .nav-1 a{
        font-size: 25px;
    }
    #logo{
        width: 100px;
        height: 100px;
        position: absolute;
        top: 30px;
        left: 20px;
    }
    #title{
        position: absolute;
        top: 50px;
        left: 150px;
        font-size: 50px;
    }
    #company-2{
        position: absolute;
        top: 60px;
        left: 0px;
        font-size: 50px;
    }
    #name-2{
        position: absolute;
        top: 55px;
        left: 204px;
        font-size: 50px;
    }
    .box-1{
        top: 50px;
        right: 95px;
        font-size: 20px;
    }
    .button{
        position: absolute;
        top: 140px;
        right: 158px;
    }
    .btn{
        font-size: 20px;
    }
    .menu-content{
        margin-top: 167px;
    }
    .col-30{
        width: 500px;
        height: 200px;
        margin: 20px;
    }
    .col-30 h1{
        padding-top: 30px;
    }
    .col-30 p{
        padding:0px 10px 0px 10px;
        font-size: 18px;
    }
    .col-70{
        margin: 20px
    }
    .col-70 h1{
        font-size: 27px;
    }
    .col-70 p{
        font-size: 20px;
    }
    .col-70 h2{
        font-size: 25px;
    }
    .col-60{
        padding: 10px 30px 10px 30px; 
    }
    .col-60 h1{
        font-size: 35px;
    }
    .col-60 p{
        margin-top: 20px;
        font-size: 25px;
    }
    .col-40 h1{
        padding: 10px 0px 0px 40px;
        font-size: 35px;
    }
    .row{
        width: auto;
        height: 710px;
    }
    .row-1 h1{
        padding-top: 20px;
        font-size: 30px;
    }
    #img-1{
        margin: 0px 40px;
        padding: 20px 20px;
        width: 475px;
        height: 415px;
    }
    .row-1 h2{
        padding-left: 40px;
        font-size: 20px;
    }
    #img-2{
        padding: 20px 40px;
        width: 532px;
        height: 190px;
    }
    .footer-links a{
        padding-top: 20px;
        font-size: 25px;
    }
    .footer-links div{
        padding-top: 20px;
        font-size: 20px;
    }
    .footer-text h1{
        padding-top: 10px;
        font-size: 20px;
    }
    .footer-text p{
        padding: 10px 0px 10px 0px;
        font-size: 20px;
    }
}